# Files ignored by Git
# ====================

# - All files and directories starting with "#",
\#*

# - Test output,
/test/fixtures/*/output.js

# - Automatically installed dependencies,
node_modules/

# - Editor files.
*.sublime-project
*.sublime-workspace
